/230412_EX_09_5_1/target/
/TCPechoServer_MTH/target/
/GUI/nbproject/private/
/Server_MTH/nbproject/private/
/Server_MTH/build/
/GUI/build/
/PC_based_server/nbproject/private/
/HtmlUnit/nbproject/private/
/HtmlUnit/build/
/ShoppingParsing/nbproject/private/
/ShoppingParsing/build/
/JavaApplication6/nbproject/private/
/ShoppingParsing/dist/
/sendingEmail/nbproject/private/
/sendingEmail/build/
